body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
}
#container {
	background: linear-gradient(135deg, #8052ec, #d161ff);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#matrix {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
}

#matrix div {
	width: 120px;
	height: 120px;
	border-radius: 15px;
	background-color: white;
}
